<form [formGroup]="subForm" >
  <div align="center">
      <br/>  <br/>
    <label>Max Range  &nbsp;&nbsp;</label>
    <select formControlName="max"   (ngModelChange)="onChange($event)">
      <option *ngFor="let max of numberMxRange" [value]="max" >{{max}}</option>
    </select>  &nbsp;&nbsp;&nbsp;
    
    <br/>  <br/>
    &nbsp;&nbsp; &nbsp;&nbsp;
    {{disp_num1}}
  <br/><br/>
  <label>- &nbsp;&nbsp;</label>
  {{disp_num2}} 
  <br/>
  _______________________________
  <br/> <br/> &nbsp;&nbsp;&nbsp;&nbsp;
   <input formControlName="sum"   [(ngModel)] ="sum"  style="text-align:center;" />
   <br/> <br/>
  <input type="submit" value="Submit"  (click)="addNumber(subForm)"/>
  
  </div>
  </form>
  