

<div style="align-content: left"  align="left">
  <p><font size='12pt'> Math Tutorials</font>
   
  </p>
  <a style="margin-left:10px" routerLink="/add"  ><font size='6pt'>Addition</font></a>
  <br/>
  <a style="margin-left:10px" routerLink="/subtract"><font size='6pt'>Subtraction</font></a>
  <br/>
  <a style="margin-left:10px" routerLink="/multiply"><font size='6pt'>Multiplication</font></a>
  <br/>
  <a style="margin-left:10px" routerLink="/devide"><font size='6pt'>Divison</font></a>
  <router-outlet></router-outlet>
 

</div>


